body {
    background-image: url("./images/movingspace.gif");
    background-repeat: repeat;
    background-size: cover;

}

.prompt {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 30px;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    height: 50px;
    text-align: center;
}

.multicolortext {
    background-image: linear-gradient(to left, violet, indigo, yellow,green, orange, red, blue );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }

.buttons {
    margin-left:25%;
    padding: 0;
    width: 50%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
    border-radius: 15%;
}

  
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: rgb(0, 183, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.alert {
    background-image: linear-gradient(to left, yellow,green, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent; 
    width: 60%;
    text-align: justify;
    margin: 100px 0 0 20%;
    line-height:50px;
    
}

.report {
    background-image: linear-gradient(to left,  yellow, green);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent; 
    text-align: center;
    font-size: 35px;
}

.ships{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    
}

